@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-gray-500;
  @apply text-gray-900
}

@media (min-widht:768px){
  .custom-grid-rows{
    grid-template-columns: repeat(8,20vh);
  }
}

@media (min-widht:1280px){
  .custom-grid-rows{
    grid-template-columns: repeat(8,7.5vh);
  }
}